<!DOCTYPE html>
<html>
<head>
  <title>TimeKeeper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= image_tag "splash.jpg" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
